# Auto detect text files and perform LF normalization
* text=auto


# Always perform LF normalization on these files
*.dart   text
*.gradle text
*.java   text
*.json   text
*.md     text
*.py     text
*.sh     text
*.yaml   text
